
	<div class="container">
		<div class="row">
			<main class="table">
				<!-- Start your code here -->
				<h3>HTML Demo</h3>
				<table>
					<caption>HTML Demo</caption>
					<thead>
						<tr>
							<th >FirstName</th>
							<th >LastName</th>
							<th >Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Baibhavi</td>
							<td>Karki</td>
							<td>Baibhavikarki@gmail.com</td>
						
						</tr>
						<tr>
							<td>Eshan</td>
    						<td>Kuthu</td>
    					     <td>Kuthu.eshan@gmail.com</td>
						</tr>
						<tr>
							<td>Zoey</td>
    						<td>Nepal</td>
    					     <td>Zoey@Nepal.com</td>
						</tr>
						<tr>
							<td>Maharishi</td>
    						<td>Nepal</td>
    					     <td>nepal@gmail.com</td>
						</tr>
					</tbody>
				</table>

			</main>
		</div>
	</div>

